/*style.css works*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

dialog {
    margin: auto;
}

html {
    font-family: 'Roboto';
}


.list-wrapper {
    font-size: 1.5rem;
}


.card-wrapper {
    font-size: 1rem;
    border: 1px solid black;
}


input {
    outline: none;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: 1px solid black;
    font-size: 1.1rem;
}


.task-title {
    font-size: 2rem;
}

img[alt="sidebar"] {
    width: 25px;
}


.header {
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    align-items: center;
    font-size: 1.5rem;
    background-color: rgba(255, 136, 0, 0.5);
    height: 100px;
}

button.modal-open-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    padding: 0.25rem 0.5rem;
    border-radius: 0px;
    border: none;
    background-color: inherit;
    cursor: pointer;
    transition: 0.3s;
    height: 100%;
}

button.modal-open-btn:hover {
    background-color: rgba(255, 0, 0, 1);

}

.header-title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
}


.content-wrapper {
    display: flex;
}

button {
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
    padding: 0.5rem 1rem;
}

.sidebar {
    border: 1px solid black;
    width: 300px;
    min-height: 100svh;
}


.todos-wrapper {
    flex: 1;
}

input#list-title {
    width: 150px;
}


.card-wrapper {
    min-width: 150px;
}