/*style.css works*/
* {
    box-sizing: border-box;
}


html {
    font-family: 'Roboto';
}


.list-wrapper {
    font-size: 1.5rem;
}


.card-wrapper {
    font-size: 1rem;
    border: 1px solid black;
}


input {
    outline: none;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: 1px solid black;
    font-size: 1.1rem;
}


.task-title {
    font-size: 2rem;
}

img[alt="sidebar"] {
    width: 25px;
}


.header {
    display: flex;
}


.content-wrapper {
    display: flex;
}

button {
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
    padding: 0.5rem 1rem;
}

.sidebar {
    border: 1px solid black;
    width: 300px;
    height: 100svh;
}


.todos-wrapper {
    flex: 1;
}